.searched-movie {
  max-height: 200px;
  overflow-y: auto;
}
.search-container p:hover {
  background-color: lightblue;
}

.poster-image {
  width: 150px;
  height: auto;
}
.form-scroll {
  max-height: 400px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  padding: 10px; 
  margin-top: 20px; 
}

